In [1]:
#import libraries
import os
import pandas as pd
import datetime
import numpy as np

In [2]:
#change to correct working directory to import data
os.listdir()
os.chdir('C:/Users/steve/Documents/springboard/Capstone2/raw_data')
cwd = os.getcwd()
print(cwd)

C:\Users\steve\Documents\springboard\Capstone2\raw_data

In [3]:
#data collection: fi stands for flight information
fi = pd.read_csv('C:/Users/steve/Documents/springboard/Capstone2/raw_data/2018.csv')
pd.options.display.max_columns = None

#get overview of the data
fi.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FL_DATE              7213446 non-null  object
 1   OP_CARRIER           7213446 non-null  object
 2   OP_CARRIER_FL_NUM    7213446 non-null  int64
 3   ORIGIN               7213446 non-null  object
 4   DEST                 7213446 non-null  object
 5   CRS_DEP_TIME         7213446 non-null  int64
 6   DEP_TIME             7101129 non-null  float64
 7   DEP_DELAY            7096212 non-null  float64
 8   TAXI_OUT             7097616 non-null  float64
 9   WHEELS_OFF           7097617 non-null  float64
 10  WHEELS_ON            7094200 non-null  float64
 11  TAXI_IN              7094200 non-null  float64
 12  CRS_ARR_TIME         7213446 non-null  int64
 13  ARR_TIME             7094201 non-null  float64
 14  ARR_DELAY            7076406 non-null  float64
 15  CANCELLED            7213446 non-null  float64
 16  CANCELLATION_CODE    116584 non-null   object
 17  DIVERTED             7213446 non-null  float64
 18  CRS_ELAPSED_TIME     7213436 non-null  float64
 19  ACTUAL_ELAPSED_TIME  7079004 non-null  float64
 20  AIR_TIME             7079004 non-null  float64
 21  DISTANCE             7213446 non-null  float64
 22  CARRIER_DELAY        1352710 non-null  float64
 23  WEATHER_DELAY        1352710 non-null  float64
 24  NAS_DELAY            1352710 non-null  float64
 25  SECURITY_DELAY       1352710 non-null  float64
 26  LATE_AIRCRAFT_DELAY  1352710 non-null  float64
 27  Unnamed: 27          0 non-null        float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.5+ GB

In [4]:
#drop irrelevant columns (8, 9, 10, 11, 17, 18, 19, 20, 27)
fi_drop = fi.drop(columns=['TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'DIVERTED', 'CRS_ELAPSED_TIME', 'CRS_ELAPSED_TIME',\
                          'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'Unnamed: 27'])
fi_drop.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [5]:
#rename columns
fi_drop_rename = fi_drop.rename(columns = {'FL_DATE':'Date', 'OP_CARRIER':"Airline", 'OP_CARRIER_FL_NUM':'Flight_Number',\
                                          'CRS_DEP_TIME':'Planned_Depart_Time','DEP_TIME':'Actual_Depart_Time',\
                                           'Dep_delay':'Depart_Delay', 'CRS_ARR_TIME':'Planned_Arrival_Time',\
                                           'ARR_TIME':'Actual_Arrival_Time', 'ARR_DELAY':'Arrival_Delay',})
fi_drop_rename.columns = fi_drop_rename.columns.str.capitalize()
fi_drop_rename.columns

Index(['Date', 'Airline', 'Flight_number', 'Origin', 'Dest',
       'Planned_depart_time', 'Actual_depart_time', 'Dep_delay',
       'Planned_arrival_time', 'Actual_arrival_time', 'Arrival_delay',
       'Cancelled', 'Cancellation_code', 'Distance', 'Carrier_delay',
       'Weather_delay', 'Nas_delay', 'Security_delay', 'Late_aircraft_delay'],
      dtype='object')

In [6]:
#change date column to datetime
fi_drop_rename['Date'] = pd.to_datetime(fi_drop_rename['Date']).dt.date

fi_drop_rename.head()

,Date,Airline,Flight_number,Origin,Dest,Planned_depart_time,Actual_depart_time,Dep_delay,Planned_arrival_time,Actual_arrival_time,Arrival_delay,Cancelled,Cancellation_code,Distance,Carrier_delay,Weather_delay,Nas_delay,Security_delay,Late_aircraft_delay
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,1745,1722.0,-23.0,0.0,NaN,1605.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,1254,1230.0,-24.0,0.0,NaN,414.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,1649,1636.0,-13.0,0.0,NaN,846.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,1756,1754.0,-2.0,0.0,NaN,1120.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,922,936.0,14.0,0.0,NaN,723.0,NaN,NaN,NaN,NaN,NaN

In [7]:
#change time columns (5, 6, 8, 9) to datetime
fi_drop_rename['Planned_depart_time'] = fi_drop_rename['Planned_depart_time'].astype(str).str.zfill(4)
fi_drop_rename['Planned_depart_time'] = pd.to_datetime(fi_drop_rename['Planned_depart_time'], format= "%H%M",\
                                                       errors='coerce').dt.time

fi_drop_rename['Actual_depart_time'] = fi_drop_rename['Actual_depart_time'].astype(str)
fi_drop_rename['Actual_depart_time'] = fi_drop_rename['Actual_depart_time'].str.split('.').str[0]
fi_drop_rename['Actual_depart_time'] = fi_drop_rename['Actual_depart_time'].str.zfill(4)
fi_drop_rename['Actual_depart_time'] = pd.to_datetime(fi_drop_rename['Actual_depart_time'], format= "%H%M",\
                                                      errors='coerce').dt.time

fi_drop_rename['Planned_arrival_time'] = fi_drop_rename['Planned_arrival_time'].astype(str).str.zfill(4)
fi_drop_rename['Planned_arrival_time'] = pd.to_datetime(fi_drop_rename['Planned_arrival_time'], format= "%H%M",\
                                                        errors='coerce').dt.time

fi_drop_rename['Actual_arrival_time'] = fi_drop_rename['Actual_arrival_time'].astype(str)
fi_drop_rename['Actual_arrival_time'] = fi_drop_rename['Actual_arrival_time'].str.split('.').str[0]
fi_drop_rename['Actual_arrival_time'] = fi_drop_rename['Actual_arrival_time'].str.zfill(4)
fi_drop_rename['Actual_arrival_time'] = pd.to_datetime(fi_drop_rename['Actual_arrival_time'], format= "%H%M",\
                                                       errors='coerce').dt.time

In [8]:
fi_drop_rename.head()

,Date,Airline,Flight_number,Origin,Dest,Planned_depart_time,Actual_depart_time,Dep_delay,Planned_arrival_time,Actual_arrival_time,Arrival_delay,Cancelled,Cancellation_code,Distance,Carrier_delay,Weather_delay,Nas_delay,Security_delay,Late_aircraft_delay
0,2018-01-01,UA,2429,EWR,DEN,15:17:00,15:12:00,-5.0,17:45:00,17:22:00,-23.0,0.0,NaN,1605.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,11:15:00,11:07:00,-8.0,12:54:00,12:30:00,-24.0,0.0,NaN,414.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,13:35:00,13:30:00,-5.0,16:49:00,16:36:00,-13.0,0.0,NaN,846.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,15:46:00,15:52:00,6.0,17:56:00,17:54:00,-2.0,0.0,NaN,1120.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,06:30:00,06:50:00,20.0,09:22:00,09:36:00,14.0,0.0,NaN,723.0,NaN,NaN,NaN,NaN,NaN

In [46]:
fi_drop_rename.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Date                  7213446 non-null  object
 1   Airline               7213446 non-null  object
 2   Flight_number         7213446 non-null  int64
 3   Origin                7213446 non-null  object
 4   Dest                  7213446 non-null  object
 5   Planned_depart_time   7213446 non-null  object
 6   Actual_depart_time    7100498 non-null  object
 7   Dep_delay             7096212 non-null  float64
 8   Planned_arrival_time  7213355 non-null  object
 9   Actual_arrival_time   7090737 non-null  object
 10  Arrival_delay         7076406 non-null  float64
 11  Cancelled             7213446 non-null  float64
 12  Cancellation_code     116584 non-null   object
 13  Distance              7213446 non-null  float64
 14  Carrier_delay         1352710 non-null  float64
 15  Weather_delay         1352710 non-null  float64
 16  Nas_delay             1352710 non-null  float64
 17  Security_delay        1352710 non-null  float64
 18  Late_aircraft_delay   1352710 non-null  float64
 19  Airline_Name          7213446 non-null  object
 20  Origin_Name           7213446 non-null  object
 21  Origin_State          7213446 non-null  object
 22  Dest_Name             7213446 non-null  object
 23  Dest_State            7213446 non-null  object
 24  Origin_city2          19817 non-null    object
 25  Origin_state2         19817 non-null    object
 26  Dest_city2            19826 non-null    object
 27  Dest_state2           19826 non-null    object
dtypes: float64(9), int64(1), object(18)
memory usage: 1.5+ GB

In [10]:
#import airline carrier data
alc = pd.read_csv('C:/Users/steve/Documents/springboard/Capstone2/raw_data/ASQP_Carrier_Codes.csv')
alc.head()

  IATA Code ICAO Code   Air Carrier Name
0        ZW       AWI      Air Wisconsin
1        AS       ASA    Alaska Airlines
2        G4       AAY  Allegiant Air LLC
3        AA       AAL  American Airlines
4        C5       UCA      Champlain Air

In [11]:
#sort by IATA code and drop ICAO column
alc_sort=alc.sort_values('IATA Code')
alc_sort_drop = alc_sort.drop(columns='ICAO Code')
print(alc_sort_drop)

   IATA Code             Air Carrier Name
8         9E                 Endeavor Air
3         AA            American Airlines
1         AS              Alaska Airlines
24        AX                  Trans State
15        B6  Jetblue Airways Corporation
4         C5                Champlain Air
5         CP             Compass Airlines
6         DL        Delta Air Lines, Inc.
7         EM               Empire Airline
10        EV          ExpressJet Airlines
11        F9      Frontier Airlines, Inc.
2         G4            Allegiant Air LLC
12        G7               GoJet Airlines
13        HA       Hawaiian Airlines Inc.
18        KS                       Penair
9         MQ                    Envoy Air
23        NK        Spirit Airlines, Inc.
16        OH               Jetstream Intl
21        OO             Skywest Airlines
19        PT            Piedmont Airlines
14        QX                  Horizon Air
25        UA        United Airlines, Inc.
26        VX              Virgin Airlines
22        WN           Southwest Airlines
17        YV          Mesa Airlines, Inc.
20        YX            Republic Airlines
0         ZW                Air Wisconsin

In [12]:
#Create a dictionary of where the key is the IATA Code and the value is the Air Carrier Name. 
airline_map = alc_sort_drop.set_index('IATA Code')['Air Carrier Name'].to_dict()
print(airline_map)

{'9E': 'Endeavor Air', 'AA': 'American Airlines', 'AS': 'Alaska Airlines', 'AX': 'Trans State', 'B6': 'Jetblue Airways Corporation', 'C5': 'Champlain Air', 'CP': 'Compass Airlines', 'DL': 'Delta Air Lines, Inc.', 'EM': 'Empire Airline', 'EV': 'ExpressJet Airlines', 'F9': 'Frontier Airlines, Inc.', 'G4': 'Allegiant Air LLC', 'G7': 'GoJet Airlines', 'HA': 'Hawaiian Airlines Inc.', 'KS': 'Penair', 'MQ': 'Envoy Air', 'NK': 'Spirit Airlines, Inc.', 'OH': 'Jetstream Intl', 'OO': 'Skywest Airlines', 'PT': 'Piedmont Airlines', 'QX': 'Horizon Air', 'UA': 'United Airlines, Inc.', 'VX': 'Virgin Airlines', 'WN': 'Southwest Airlines', 'YV': 'Mesa Airlines, Inc.', 'YX': 'Republic Airlines', 'ZW': 'Air Wisconsin'}

In [13]:
#Create a map function where the key is the IATA Code and the value is the Air Carrier Name. 
fi_drop_rename['Airline_Name'] = fi_drop_rename.Airline.map(airline_map)
fi_drop_rename.Airline_Name.value_counts()

Airline_Name
Southwest Airlines             1352552
Delta Air Lines, Inc.           949283
American Airlines               916818
Skywest Airlines                774137
United Airlines, Inc.           621565
Republic Airlines               316090
Jetblue Airways Corporation     305010
Envoy Air                       296001
Jetstream Intl                  278457
Endeavor Air                    245917
Alaska Airlines                 245761
Mesa Airlines, Inc.             215138
ExpressJet Airlines             202890
Spirit Airlines, Inc.           176178
Frontier Airlines, Inc.         120035
Allegiant Air LLC                96221
Hawaiian Airlines Inc.           83723
Virgin Airlines                  17670
Name: count, dtype: int64

In [14]:
#check for missing values in new column
fi_drop_rename.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Date                  7213446 non-null  object
 1   Airline               7213446 non-null  object
 2   Flight_number         7213446 non-null  int64
 3   Origin                7213446 non-null  object
 4   Dest                  7213446 non-null  object
 5   Planned_depart_time   7213446 non-null  object
 6   Actual_depart_time    7100498 non-null  object
 7   Dep_delay             7096212 non-null  float64
 8   Planned_arrival_time  7213355 non-null  object
 9   Actual_arrival_time   7090737 non-null  object
 10  Arrival_delay         7076406 non-null  float64
 11  Cancelled             7213446 non-null  float64
 12  Cancellation_code     116584 non-null   object
 13  Distance              7213446 non-null  float64
 14  Carrier_delay         1352710 non-null  float64
 15  Weather_delay         1352710 non-null  float64
 16  Nas_delay             1352710 non-null  float64
 17  Security_delay        1352710 non-null  float64
 18  Late_aircraft_delay   1352710 non-null  float64
 19  Airline_Name          7213446 non-null  object
dtypes: float64(9), int64(1), object(10)
memory usage: 1.1+ GB

In [15]:
#import airport code data
apc = pd.read_csv('C:/Users/steve/Documents/springboard/Capstone2/raw_data/Airport_Codes.csv')
apc.head()

  Code                       Name           City State
0  0AK      Pilot Station Airport  Pilot Station    AK
1  16A        Nunapitchuk Airport    Nunapitchuk    AK
2  1G4  Grand Canyon West Airport  Peach Springs    AZ
3  2A3         Larsen Bay Airport     Larsen Bay    AK
4  2A9             Kotlik Airport         Kotlik    AK

In [16]:
#Create dictionaries where the keys are the airport code and the values are the location. 

airport_map_city = apc.set_index('Code')['City'].to_dict()
airport_map_state = apc.set_index('Code')['State'].to_dict()
print(airport_map_city)

{'0AK': 'Pilot Station', '16A': 'Nunapitchuk', '1G4': 'Peach Springs', '2A3': 'Larsen Bay', '2A9': 'Kotlik', '3A5': 'Marshall', '3T7': 'Middle Bass', '3W2': 'Put - in - Bay', '6R7': 'Old Harbor', '74S': 'Anacortes', 'A61': 'Tuntutuliak', 'A85': 'Kwigillingok', 'ABE': 'Allentown', 'ABI': 'Abilene', 'ABQ': 'Albuquerque', 'ABR': 'Aberdeen', 'ABY': 'Albany', 'ACB': 'Bellaire', 'ACK': 'Nantucket', 'ACT': 'Waco', 'ACV': 'Arcata/Eureka', 'ACY': 'Egg Harbor Township', 'ADK': 'Adak Island', 'ADQ': 'Kodiak', 'AEX': 'Alexandria', 'AFM': 'Ambler', 'AGC': 'Pittsburgh', 'AGN': 'Angoon', 'AGS': 'Augusta', 'AHN': 'Athens', 'AIA': 'Alliance', 'AID': 'Anderson', 'AIY': 'Atlantic City', 'AIZ': 'Kaiser Lake Ozark', 'AKN': 'King Salmon', 'AKP': 'Anaktuvuk Pass', 'AKW': 'Klawock', 'ALB': 'Albany', 'ALM': 'Alamogordo', 'ALN': 'Alton/St Louis', 'ALO': 'Waterloo', 'ALS': 'Alamosa', 'ALW': 'Walla Walla', 'AMA': 'Amarillo', 'ANB': 'Anniston', 'ANC': 'Anchorage', 'AND': 'Anderson', 'ANI': 'Aniak', 'AOO': 'Altoona', 'APF': 'Naples', 'APN': 'Alpena', 'AQH': 'Quinhagak', 'AQT': 'Nuiqsut', 'ART': 'Watertown', 'ASE': 'Aspen', 'ASN': 'Talladega', 'AST': 'Astoria', 'ATK': 'Atqasuk', 'ATL': 'Atlanta', 'ATW': 'Appleton', 'ATY': 'Watertown', 'AUG': 'Augusta', 'AUK': 'Alakanuk', 'AUS': 'Austin', 'AVL': 'Asheville', 'AVP': 'Avoca', 'AWI': 'Wainwright', 'AXN': 'Alexandria', 'AZO': 'Kalamazoo', 'BAF': 'Westfield/Springfield', 'BAK': 'Columbus', 'BCE': 'Bryce Canyon', 'BDE': 'Baudette', 'BDL': 'Windsor Locks', 'BDR': 'Bridgeport', 'BED': 'Bedford', 'BEH': 'Benton Harbor', 'BET': 'Bethel', 'BFD': 'Bradford', 'BFF': 'Scottsbluff', 'BFI': 'Seattle', 'BFL': 'Bakersfield', 'BGM': 'Binghamton', 'BGR': 'Bangor', 'BHB': 'Bar Harbor', 'BHM': 'Birmingham', 'BID': 'Block Island', 'BIG': 'Delta Junction Ft Greely', 'BIL': 'Billings', 'BIS': 'Bismarck', 'BJI': 'Bemidji', 'BKL': 'Cleveland', 'BKW': 'Beckley', 'BKX': 'Brookings', 'BLI': 'Bellingham', 'BLM': 'Belmar/Farmingdale', 'BLV': 'Belleville', 'BMG': 'Bloomington', 'BMI': 'Bloomington', 'BNA': 'Nashville', 'BOI': 'Boise', 'BOS': 'Boston', 'BPK': 'Mountain Home', 'BPT': 'Beaumont / Port Arthur', 'BQK': 'Brunswick', 'BQN': 'Aguadilla', 'BRD': 'Brainerd', 'BRL': 'Burlington', 'BRO': 'Brownsville', 'BRW': 'Barrow', 'BTI': 'Kaktovik', 'BTL': 'Battle Creek', 'BTM': 'Butte', 'BTR': 'Baton Rouge', 'BTV': 'South Burlington', 'BUF': 'Buffalo', 'BUR': 'Burbank', 'BVK': 'Buckland', 'BWG': 'Bowling Green', 'BWI': 'BWI Airport', 'BZN': 'Bozeman', 'CAE': 'Columbia', 'CAK': 'North Canton', 'CCR': 'Concord', 'CDB': 'Cold Bay', 'CDC': 'Cedar City', 'CDV': 'Cordova', 'CDW': 'Caldwell', 'CEC': 'Crescent City', 'CEF': 'Springfield/Chicopee', 'CEZ': 'Cortez', 'CFK': 'Chefornak', 'CGA': 'Craig', 'CGF': 'Cleveland', 'CGI': 'Cape Girardeau', 'CGX': 'Chicago', 'CHA': 'Chattanooga', 'CHO': 'Charlottesville', 'CHS': 'Charleston', 'CIC': 'Chico', 'CID': 'Cedar Rapids', 'CIU': 'Sault Ste Marie', 'CKB': 'Clarksburg', 'CLE': 'Cleveland', 'CLL': 'College Station', 'CLM': 'Port Angeles', 'CLT': 'Charlotte', 'CMH': 'Columbus', 'CMI': 'Champaign', 'CMX': 'Hancock', 'CNM': 'Carlsbad', 'CNY': 'Moab', 'COD': 'Cody', 'COE': "Coeur D'alene", 'COS': 'Colorado Springs', 'COU': 'Columbia', 'CPR': 'Casper', 'CPX': 'Isla De Culebra', 'CRP': 'Corpus Christi', 'CRQ': 'Carlsbad', 'CRW': 'Charleston', 'CSG': 'Columbus', 'CVG': 'Cincinnati', 'CVO': 'Corvallis', 'CVX': 'Charlevoix', 'CWA': 'Mosinee', 'CWI': 'Clinton', 'CYS': 'Cheyenne', 'D76': 'Noorvik', 'DAB': 'Daytona Beach', 'DAL': 'Dallas', 'DAN': 'Danville', 'DAY': 'Dayton', 'DBQ': 'Dubuque', 'DCA': 'Washington', 'DDC': 'Dodge City', 'DDH': 'Bennington', 'DEC': 'Decatur', 'DEN': 'Denver', 'DET': 'Detroit', 'DFW': 'Dallas', 'DHN': 'Dothan', 'DIK': 'Dickinson', 'DLG': 'Dillingham', 'DLH': 'Duluth', 'DNV': 'Danville', 'DRO': 'Durango', 'DRT': 'Del Rio', 'DSM': 'Des Moines', 'DTW': 'Detroit', 'DUJ': 'Du Bois', 'DUT': 'Unalaska', 'DUY': 'Kongiganak', 'DVL': 'Devils Lake', 'DVT': 'Phoenix', 'DXR': 'Danbury', 'EAR': 'Kearney', 'EAT': 'Wenatchee', 'EAU': 'Eau Claire', 'EEK': 'Eek', 'EEN': 'Keene', 'EFD': 'Houston', 'EFK': 'Newport', 'EGE': 'Eagle', 'EKM': 'Elkhart', 'EKO': 'Elko', 'ELI': 'Elim', 'ELM': 'Elmira / Corning', 'ELO': 'Ely', 'ELP': 'El Paso', 'ELY': 'Ely', 'ENA': 'Kenai', 'ENM': 'Emmonak', 'ENW': 'Kenosha', 'ERI': 'Erie', 'ESC': 'Escanaba', 'ESF': 'Alexandria', 'EUG': 'Eugene', 'EVV': 'Evansville', 'EWB': 'New Bedford', 'EWN': 'New Bern', 'EWR': 'Newark', 'EWU': 'Newtok', 'EYW': 'Key West', 'FAI': 'Fairbanks', 'FAQ': 'Fitiuta', 'FAR': 'Fargo', 'FAT': 'Fresno', 'FAY': 'Fayetteville', 'FHR': 'Friday Harbor', 'FHU': 'Fort Huachuca / Sierra Vista', 'FKL': 'Franklin', 'FLG': 'Flagstaff', 'FLL': 'Fort Lauderdale', 'FLO': 'Florence', 'FMN': 'Farmington', 'FNL': 'Fort Collins / Loveland', 'FNT': 'Flint', 'FOD': 'Fort Dodge', 'FOE': 'Topeka', 'FRG': 'Farmingdale', 'FRM': 'Fairmont', 'FSD': 'Sioux Falls', 'FSM': 'Fort Smith', 'FTW': 'Fort Worth', 'FWA': 'Fort Wayne', 'FYU': 'Fort Yukon', 'FYV': 'Fayetteville', 'GAL': 'Galena', 'GAM': 'Gambell', 'GBD': 'Great Bend', 'GBH': 'Galbraith Lake', 'GCC': 'Gillette', 'GCK': 'Garden City', 'GCN': 'Grand Canyon', 'GED': 'Georgetown', 'GEG': 'Spokane', 'GFK': 'Grand Forks', 'GFL': 'Glens Falls', 'GGG': 'Longview', 'GGV': 'Kwigillingok', 'GGW': 'Glasgow', 'GJT': 'Grand Junction', 'GKN': 'Gulkana', 'GLD': 'Goodland', 'GLH': 'Greenville', 'GLR': 'Gaylord', 'GLS': 'Galveston', 'GNV': 'Gainesville', 'GON': 'Groton (New London)', 'GPI': 'Kalispell', 'GPT': 'Gulfport', 'GPZ': 'Grand Rapids', 'GRB': 'Green Bay', 'GRI': 'Grand Island', 'GRK': 'Fort Hood / Killeen', 'GRO': 'Rota Island', 'GRR': 'Grand Rapids', 'GSN': 'Saipan Island', 'GSO': 'Greensboro', 'GSP': 'Greenville', 'GST': 'Gustavus', 'GTF': 'Great Falls', 'GTR': 'Columbus', 'GUC': 'Gunnison', 'GUM': 'Agana', 'GUP': 'Gallup', 'GYH': 'Greenville', 'GYR': 'Goodyear', 'GYY': 'Gary', 'HDN': 'Hayden', 'HFD': 'Hartford', 'HGR': 'Hagerstown', 'HIB': 'Hibbing', 'HII': 'Lake Havasu City', 'HKS': 'Jackson', 'HKY': 'Hickory', 'HLA': 'Huslia', 'HLN': 'Helena', 'HND': 'Las Vegas', 'HNH': 'Hoonah', 'HNL': 'Honolulu', 'HNM': 'Hana', 'HNS': 'Haines', 'HOB': 'Hobbs', 'HOM': 'Homer', 'HON': 'Huron', 'HOT': 'Hot Springs', 'HOU': 'Houston', 'HPB': 'Hooper Bay', 'HPN': 'White Plains', 'HRL': 'Harlingen', 'HRO': 'Harrison', 'HSL': 'Huslia', 'HSV': 'Huntsville', 'HTS': 'Huntington', 'HUF': 'Terre Haute', 'HUT': 'Hutchinson', 'HVN': 'New Haven', 'HXD': 'Hilton Head Island', 'HYA': 'Hyannis', 'HYL': 'Hollis', 'HYS': 'Hays', 'IAD': 'Washington', 'IAH': 'Houston', 'IAN': 'Kiana', 'ICT': 'Wichita', 'IDA': 'Idaho Falls', 'IFP': 'Bullhead City', 'IGM': 'Kingman', 'IIK': 'Kipnuk', 'ILE': 'Killeen', 'ILG': 'Wilmington', 'ILI': 'Iliamna', 'ILL': 'Willmar', 'ILM': 'Wilmington', 'IMT': 'Iron Mountain / Kingsford', 'IND': 'Indianapolis', 'INL': 'International Falls', 'INT': 'Winston Salem', 'IPL': 'Imperial', 'IPT': 'Williamsport', 'IRK': 'Kirksville', 'ISN': 'Williston', 'ISO': 'Kinston', 'ISP': 'Islip', 'ITH': 'Ithaca', 'ITO': 'Hilo', 'IWA': 'Mesa', 'IWD': 'Ironwood', 'IXD': 'Olathe', 'IYK': 'Inyokern', 'JAC': 'Jackson', 'JAN': 'Jackson', 'JAX': 'Jacksonville', 'JBR': 'Jonesboro', 'JEF': 'Jefferson City', 'JFK': 'New York', 'JHW': 'Jamestown', 'JLN': 'Joplin', 'JMS': 'Jamestown', 'JNU': 'Juneau', 'JRB': 'New York', 'JST': 'Johnstown', 'JVL': 'Janesville', 'JXN': 'Jackson', 'KAE': 'Kake', 'KAL': 'Kaltag', 'KDK': 'Kodiak', 'KEB': 'English Bay', 'KKA': 'Koyuk', 'KLG': 'Kalskag', 'KOA': 'Keahole', 'KSM': "St Mary's", 'KTB': 'Thorne Bay', 'KTN': 'Ketchikan', 'KVC': 'King Cove', 'KVL': 'Kivalina', 'KWT': 'Kwethluk', 'LAA': 'Lamar', 'LAF': 'Lafayette', 'LAL': 'Lakeland', 'LAN': 'Lansing', 'LAR': 'Laramie', 'LAS': 'Las Vegas', 'LAW': 'Lawton', 'LAX': 'Los Angeles', 'LBB': 'Lubbock', 'LBE': 'Latrobe', 'LBF': 'North Platte', 'LBL': 'Liberal', 'LBX': 'Angleton/Lake Jackson', 'LCH': 'Lake Charles', 'LCK': 'Columbus', 'LEB': 'Lebanon', 'LEX': 'Lexington', 'LFT': 'Lafayette', 'LGA': 'New York', 'LGB': 'Long Beach', 'LHD': 'Anchorage', 'LIH': 'Lihue', 'LIT': 'Little Rock', 'LMT': 'Klamath Falls', 'LNK': 'Lincoln', 'LNS': 'Lancaster', 'LNY': 'Lanai City', 'LPR': 'Lorain/Elyria', 'LRD': 'Laredo', 'LRU': 'Las Cruces', 'LSE': 'La Crosse', 'LUK': 'Cincinnati', 'LWB': 'Lewisburg', 'LWS': 'Lewiston', 'LYH': 'Lynchburg', 'MAF': 'Midland', 'MAZ': 'Mayaguez', 'MBA': 'Manokotak', 'MBL': 'Manistee', 'MBS': 'Saginaw', 'MCC': 'Sacramento', 'MCE': 'Merced', 'MCG': 'McGrath', 'MCI': 'Kansas City', 'MCK': 'Mc Cook', 'MCN': 'Macon', 'MCO': 'Orlando', 'MCW': 'Mason City', 'MDH': 'Carbondale / Murphysboro', 'MDM': 'Marshall', 'MDT': 'Harrisburg', 'MDW': 'Chicago', 'MDY': 'Sand Island', 'MEI': 'Meridian', 'MEM': 'Memphis', 'MFD': 'Mansfield', 'MFE': 'Mcallen', 'MFR': 'Medford', 'MGM': 'Montgomery', 'MGW': 'Morgantown', 'MHE': 'Mitchell', 'MHK': 'Manhattan', 'MHT': 'Manchester', 'MIA': 'Miami', 'MIE': 'Muncie', 'MIV': 'Millville', 'MJX': 'Toms River', 'MKC': 'Kansas City', 'MKE': 'Milwaukee', 'MKG': 'Muskegon', 'MKK': 'Kaunakakai', 'MKL': 'Jackson', 'MKT': 'Mankato', 'MLB': 'Melbourne', 'MLI': 'Moline', 'MLL': 'Marshall', 'MLU': 'Monroe', 'MMH': 'Mammoth Lakes', 'MMU': 'Morristown', 'MMV': 'Mc Minnville', 'MNM': 'Menominee', 'MOB': 'Mobile', 'MOD': 'Modesto', 'MOT': 'Minot', 'MOU': 'Mountain Village', 'MPV': 'Barre/Montpelier', 'MQI': 'Manteo', 'MQJ': 'Indianapolis', 'MQY': 'Smyrna', 'MRI': 'Anchorage', 'MRY': 'Monterey', 'MSL': 'Muscle Shoals', 'MSN': 'Madison', 'MSO': 'Missoula', 'MSP': 'Minneapolis', 'MSS': 'Massena', 'MSV': 'Monticello', 'MSY': 'New Orleans', 'MTH': 'Marathon', 'MTJ': 'Montrose', 'MTM': 'Metlakatla', 'MTO': 'Mattoon/Charleston', 'MUE': 'Kamuela', 'MVL': 'Morrisville', 'MVN': 'Mount Vernon', 'MVY': 'Vineyard Haven', 'MWA': 'Marion', 'MWH': 'Moses Lake', 'MYR': 'Myrtle Beach', 'MZJ': 'Marana', 'N93': 'Golovin', 'NEW': 'New Orleans', 'NQA': 'Millington', 'NUL': 'Nulato', 'OAJ': 'Jacksonville', 'OAK': 'Oakland', 'OCF': 'Ocala', 'OFK': 'Norfolk', 'OGD': 'Ogden', 'OGG': 'Kahului', 'OGS': 'Ogdensburg', 'OKC': 'Oklahoma City', 'OLM': 'Olympia', 'OMA': 'Omaha', 'OME': 'Nome', 'ONP': 'Newport', 'ONT': 'Ontario', 'OOK': 'Toksook Bay', 'OQU': 'North Kingstown', 'ORD': 'Chicago', 'ORF': 'Norfolk', 'ORH': 'Worcester', 'ORI': 'Port Lions', 'ORS': 'Eastsound', 'ORV': 'Noorvik', 'OSH': 'Oshkosh', 'OSU': 'Columbus', 'OTG': 'Worthington', 'OTH': 'North Bend', 'OTM': 'Ottumwa', 'OTZ': 'Kotzebue', 'OWB': 'Owensboro', 'OXC': 'Oxford', 'OXR': 'Oxnard', 'PAE': 'Everett', 'PAH': 'Paducah', 'PBI': 'West Palm Beach', 'PCW': 'Port Clinton', 'PDT': 'Pendleton', 'PDX': 'Portland', 'PFN': 'Panama City', 'PGA': 'Page', 'PGD': 'Punta Gorda', 'PGM': 'Port Graham', 'PGV': 'Greenville', 'PHF': 'Newport News', 'PHL': 'Philadelphia', 'PHO': 'Point Hope', 'PHX': 'Phoenix', 'PIA': 'Peoria', 'PIB': 'Hattiesburg / Laurel', 'PIE': 'Saint Petersburg', 'PIH': 'Pocatello', 'PIR': 'Pierre', 'PIT': 'Pittsburgh', 'PKB': 'Parkersburg', 'PLB': 'Plattsburgh', 'PLK': 'Point Lookout', 'PLN': 'Pellston', 'PMD': 'Palmdale', 'PNC': 'Ponca City', 'PNS': 'Pensacola', 'POU': 'Poughkeepsie', 'PPC': 'Prospect Creek', 'PPG': 'Pago Pago', 'PQI': 'Presque Isle', 'PQL': 'Pascagoula', 'PRB': 'Paso Robles', 'PRC': 'Prescott', 'PSC': 'Pasco', 'PSE': 'Ponce', 'PSG': 'Petersburg', 'PSM': 'Portsmouth', 'PSP': 'Palm Springs', 'PTH': 'Port Heiden', 'PTK': 'Pontiac', 'PUB': 'Pueblo', 'PUW': 'Pullman / Moscow, ID', 'PVC': 'Provincetown', 'PVD': 'Providence', 'PVU': 'Provo', 'PWM': 'Portland', 'PWT': 'Bremerton', 'RAP': 'Rapid City', 'RDD': 'Redding', 'RDG': 'Reading', 'RDM': 'Redmond', 'RDU': 'Rdu Airport', 'RFD': 'Rockford', 'RHI': 'Rhinelander', 'RIC': 'Richmond', 'RIW': 'Riverton', 'RKD': 'Rockland', 'RKS': 'Rock Springs', 'RME': 'Rome', 'RMG': 'Rome', 'RNO': 'Reno', 'ROA': 'Roanoke', 'ROC': 'Rochester', 'ROW': 'Roswell', 'RSH': 'Russian Mission', 'RST': 'Rochester', 'RSW': 'Fort Myers', 'RUT': 'Rutland', 'RWI': 'Rocky Mount', 'SAF': 'Santa Fe', 'SAN': 'San Diego', 'SAT': 'San Antonio', 'SAV': 'Savannah', 'SAW': 'Marquette', 'SBA': 'Santa Barbara', 'SBD': 'San Bernardino', 'SBN': 'South Bend', 'SBP': 'San Luis Obispo', 'SBY': 'Salisbury', 'SCC': 'Deadhorse', 'SCK': 'Stockton', 'SCM': 'Scammon Bay', 'SDF': 'Louisville', 'SDP': 'Sand Point', 'SDY': 'Sidney', 'SEA': 'Seattle', 'SFB': 'Sanford', 'SFO': 'San Francisco', 'SFZ': 'Pawtucket', 'SGF': 'Springfield', 'SGH': 'Springfield', 'SGJ': 'St Augustine', 'SGU': 'St George', 'SGY': 'Skagway', 'SHD': 'Harrisonburg', 'SHG': 'Shungnak', 'SHH': 'Shishmaref', 'SHR': 'Sheridan', 'SHV': 'Shreveport', 'SIG': 'San Juan', 'SIT': 'Sitka', 'SJC': 'San Jose', 'SJT': 'San Angelo', 'SJU': 'San Juan', 'SKX': 'Taos', 'SLC': 'Salt Lake City', 'SLE': 'Salem', 'SLK': 'Saranac Lake', 'SLN': 'Salina', 'SMF': 'Sacramento', 'SMX': 'Santa Maria', 'SNA': 'Orange County', 'SNP': 'St Paul Island', 'SOP': 'Pinehurst/Southern Pines', 'SOV': 'Seldovia', 'SOW': 'Show Low', 'SPI': 'Springfield', 'SPS': 'Wichita Falls', 'SQI': 'Sterling/Rockfalls', 'SRQ': 'Sarasota', 'SRR': 'Ruidoso', 'STC': 'St Cloud', 'STJ': 'St Joseph', 'STL': 'Saint Louis', 'STP': 'St Paul', 'STS': 'Santa Rosa', 'STT': 'Charlotte Amalie', 'STX': 'Christiansted', 'SUN': 'Hailey', 'SUS': 'St Louis', 'SUX': 'Sioux City', 'SVA': 'Savoonga', 'SVC': 'Silver City', 'SWF': 'Newburgh', 'SWO': 'Stillwater', 'SYR': 'Syracuse', 'T44': 'Kodiak', 'TAL': 'Tanana', 'TBN': 'Fort Leonard Wood', 'TCL': 'Tuscaloosa', 'TEB': 'Teterboro', 'TEX': 'Telluride', 'TIX': 'Titusville', 'TLH': 'Tallahassee', 'TLT': 'Tuluksak', 'TNI': 'Tinian Island', 'TOG': 'Togiak Village', 'TOL': 'Toledo', 'TPA': 'Tampa', 'TPL': 'Temple', 'TRI': 'Blountville', 'TTN': 'Trenton', 'TUL': 'Tulsa', 'TUP': 'Tupelo', 'TUS': 'Tucson', 'TVC': 'Traverse City', 'TVF': 'Thief River Falls', 'TVL': 'South Lake Tahoe', 'TVR': 'Tallulah/Vicksburg, Mississippi', 'TWF': 'Twin Falls', 'TXK': 'Texarkana', 'TYR': 'Tyler', 'TYS': 'Knoxville', 'UCA': 'Utica', 'UIN': 'Quincy', 'UNK': 'Unalakleet', 'UNV': 'State College', 'UOX': 'Oxford', 'UUU': 'Newport', 'VAK': 'Chevak', 'VCT': 'Victoria', 'VCV': 'Victorville', 'VDZ': 'Valdez', 'VGT': 'Las Vegas', 'VIS': 'Visalia', 'VLD': 'Valdosta', 'VPS': 'Valparaiso', 'VPZ': 'Valparaiso', 'VQQ': 'Jacksonville', 'VQS': 'Isla De Vieques', 'VRB': 'Vero Beach', 'WBB': 'Stebbins', 'WDG': 'Enid', 'WLK': 'Selawik', 'WNA': 'Napakiak', 'WRG': 'Wrangell', 'WRL': 'Worland', 'WST': 'Westerly', 'WTK': 'Noatak', 'WWD': 'Wildwood', 'WYS': 'West Yellowstone', 'X44': 'Miami', 'X95': 'Fajardo', 'XNA': 'Fayetteville / Springdale', 'YAK': 'Yakutat', 'YKM': 'Yakima', 'YKN': 'Yankton', 'YNG': 'Youngstown', 'YUM': 'Yuma', 'Z08': 'Ofu Village', 'Z09': 'Kasigluk'}

In [17]:
#Create a map function where the key is the IATA Code and the value is the Air Carrier Name. 
fi_drop_rename['Origin_Name'] = fi_drop_rename.Origin.map(airport_map_city)
fi_drop_rename['Origin_State'] = fi_drop_rename.Origin.map(airport_map_state)


fi_drop_rename['Dest_Name'] = fi_drop_rename.Dest.map(airport_map_city)
fi_drop_rename['Dest_State'] = fi_drop_rename.Dest.map(airport_map_state)

In [18]:
# rename dataframe for ease of use 
flights = fi_drop_rename

In [19]:
#check for missing values in new columns
flights.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Date                  7213446 non-null  object
 1   Airline               7213446 non-null  object
 2   Flight_number         7213446 non-null  int64
 3   Origin                7213446 non-null  object
 4   Dest                  7213446 non-null  object
 5   Planned_depart_time   7213446 non-null  object
 6   Actual_depart_time    7100498 non-null  object
 7   Dep_delay             7096212 non-null  float64
 8   Planned_arrival_time  7213355 non-null  object
 9   Actual_arrival_time   7090737 non-null  object
 10  Arrival_delay         7076406 non-null  float64
 11  Cancelled             7213446 non-null  float64
 12  Cancellation_code     116584 non-null   object
 13  Distance              7213446 non-null  float64
 14  Carrier_delay         1352710 non-null  float64
 15  Weather_delay         1352710 non-null  float64
 16  Nas_delay             1352710 non-null  float64
 17  Security_delay        1352710 non-null  float64
 18  Late_aircraft_delay   1352710 non-null  float64
 19  Airline_Name          7213446 non-null  object
 20  Origin_Name           7193629 non-null  object
 21  Origin_State          7193629 non-null  object
 22  Dest_Name             7193620 non-null  object
 23  Dest_State            7193620 non-null  object
dtypes: float64(9), int64(1), object(14)
memory usage: 1.3+ GB

In [20]:
#missing Origion names
O_missingflights = flights[flights['Origin_Name'].isnull()]     
O_missingflights['Origin'].unique()

array(['ECP', 'IAG', 'PBG', 'USA', 'AZA', 'FCA', 'MQT', 'SCE', 'SPN',
       'BKG', 'VEL', 'HHH'], dtype=object)

In [21]:
#create dictionary of missing airoprt codes
missing_code = ['ECP', 'IAG', 'PBG', 'USA', 'AZA', 'FCA', 'MQT', 'SCE', 'SPN','BKG', 'VEL', 'HHH']
missing_city = ['Panama City', 'Niagara Falls', 'Plattsburgh', 'Concord', 'Phoenix', 'Kalispell', 'Marquette',\
               'State College', 'Saipan', 'Branson', 'Vernal', 'Hilton Head']
missing_state = ['FL', 'NY', 'NY', 'NC', 'AZ', 'MT', 'MI', 'PA', 'MP', 'MO', 'UT', 'SC']

missing_dict_city = {code: city for code, city in zip(missing_code, missing_city)}
missing_dict_state = {code: state for code, state in zip(missing_code, missing_state)}

print(missing_dict_city)

{'ECP': 'Panama City', 'IAG': 'Niagara Falls', 'PBG': 'Plattsburgh', 'USA': 'Concord', 'AZA': 'Phoenix', 'FCA': 'Kalispell', 'MQT': 'Marquette', 'SCE': 'State College', 'SPN': 'Saipan', 'BKG': 'Branson', 'VEL': 'Vernal', 'HHH': 'Hilton Head'}

In [22]:
#add new codes to dataframe
flights['Origin_city2'] = flights.Origin.map(missing_dict_city)
flights['Origin_state2'] = flights.Origin.map(missing_dict_state)

In [24]:
#Combine columns into one column
flights['Origin_State'] = flights["Origin_State"].fillna(flights['Origin_state2'])
flights['Origin_Name'] = flights["Origin_Name"].fillna(flights['Origin_city2'])

In [29]:
#missing Destination names
D_missingflights = flights[flights['Dest_Name'].isnull()]     
D_missingflights['Dest'].unique()

array(['ECP', 'IAG', 'PBG', 'USA', 'AZA', 'FCA', 'MQT', 'SCE', 'SPN',
       'BKG', 'VEL', 'HHH'], dtype=object)

In [31]:
#add codes to dataframe
flights['Dest_city2'] = flights.Dest.map(missing_dict_city)
flights['Dest_state2'] = flights.Dest.map(missing_dict_state)

In [34]:
#Combine columns into one column
flights['Dest_State'] = flights['Dest_State'].fillna(flights['Dest_state2'])
flights['Dest_Name'] = flights["Dest_Name"].fillna(flights['Dest_city2'])

In [35]:
#confirm no more missing values for origin and dest names and states
flights.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Date                  7213446 non-null  object
 1   Airline               7213446 non-null  object
 2   Flight_number         7213446 non-null  int64
 3   Origin                7213446 non-null  object
 4   Dest                  7213446 non-null  object
 5   Planned_depart_time   7213446 non-null  object
 6   Actual_depart_time    7100498 non-null  object
 7   Dep_delay             7096212 non-null  float64
 8   Planned_arrival_time  7213355 non-null  object
 9   Actual_arrival_time   7090737 non-null  object
 10  Arrival_delay         7076406 non-null  float64
 11  Cancelled             7213446 non-null  float64
 12  Cancellation_code     116584 non-null   object
 13  Distance              7213446 non-null  float64
 14  Carrier_delay         1352710 non-null  float64
 15  Weather_delay         1352710 non-null  float64
 16  Nas_delay             1352710 non-null  float64
 17  Security_delay        1352710 non-null  float64
 18  Late_aircraft_delay   1352710 non-null  float64
 19  Airline_Name          7213446 non-null  object
 20  Origin_Name           7213446 non-null  object
 21  Origin_State          7213446 non-null  object
 22  Dest_Name             7213446 non-null  object
 23  Dest_State            7213446 non-null  object
 24  Origin_city2          19817 non-null    object
 25  Origin_state2         19817 non-null    object
 26  Dest_city2            19826 non-null    object
 27  Dest_state2           19826 non-null    object
dtypes: float64(9), int64(1), object(18)
memory usage: 1.5+ GB

In [36]:
#drop now redundant columns (24-27)
flights = flights.drop(columns=['Origin_city2', 'Origin_state2', 'Dest_city2', 'Dest_state2'])

In [38]:
#create Flight_delayed column. return Y for delayed/cancelled, N for not delayed/cancelled
flights['Delayed_or_Cancelled'] = flights['Dep_delay']<=0
flights['Delayed_or_Cancelled'].replace(to_replace=False, value= 'Y', inplace=True)
flights['Delayed_or_Cancelled'].replace(to_replace=True, value= 'N', inplace=True)
flights.head()

,Date,Airline,Flight_number,Origin,Dest,Planned_depart_time,Actual_depart_time,Dep_delay,Planned_arrival_time,Actual_arrival_time,...,Weather_delay,Nas_delay,Security_delay,Late_aircraft_delay,Airline_Name,Origin_Name,Origin_State,Dest_Name,Dest_State,Delayed_or_Cancelled
0,2018-01-01,UA,2429,EWR,DEN,15:17:00,15:12:00,-5.0,17:45:00,17:22:00,...,NaN,NaN,NaN,NaN,"United Airlines, Inc.",Newark,NJ,Denver,CO,N
1,2018-01-01,UA,2427,LAS,SFO,11:15:00,11:07:00,-8.0,12:54:00,12:30:00,...,NaN,NaN,NaN,NaN,"United Airlines, Inc.",Las Vegas,NV,San Francisco,CA,N
2,2018-01-01,UA,2426,SNA,DEN,13:35:00,13:30:00,-5.0,16:49:00,16:36:00,...,NaN,NaN,NaN,NaN,"United Airlines, Inc.",Orange County,CA,Denver,CO,N
3,2018-01-01,UA,2425,RSW,ORD,15:46:00,15:52:00,6.0,17:56:00,17:54:00,...,NaN,NaN,NaN,NaN,"United Airlines, Inc.",Fort Myers,FL,Chicago,IL,Y
4,2018-01-01,UA,2424,ORD,ALB,06:30:00,06:50:00,20.0,09:22:00,09:36:00,...,NaN,NaN,NaN,NaN,"United Airlines, Inc.",Chicago,IL,Albany,NY,Y

In [52]:
#investigate missing values in 'Planned_arrival_time'
test = flights[flights['Planned_arrival_time'].isnull()]  
test.head()

,Date,Airline,Flight_number,Origin,Dest,Planned_depart_time,Actual_depart_time,Dep_delay,Planned_arrival_time,Actual_arrival_time,Arrival_delay,Cancelled,Cancellation_code,Distance,Carrier_delay,Weather_delay,Nas_delay,Security_delay,Late_aircraft_delay,Airline_Name,Origin_Name,Origin_State,Dest_Name,Dest_State,Delayed_or_Cancelled
827213,2018-02-15,B6,499,LGA,MCO,21:10:00,21:28:00,18.0,NaT,23:53:00,-7.0,0.0,NaN,950.0,NaN,NaN,NaN,NaN,NaN,Jetblue Airways Corporation,New York,NY,Orlando,FL,Y
827453,2018-02-15,B6,1070,FLL,BOS,21:00:00,21:11:00,11.0,NaT,00:11:00,11.0,0.0,NaN,1237.0,NaN,NaN,NaN,NaN,NaN,Jetblue Airways Corporation,Fort Lauderdale,FL,Boston,MA,Y
844459,2018-02-16,B6,499,LGA,MCO,21:10:00,21:59:00,49.0,NaT,00:54:00,54.0,0.0,NaN,950.0,10.0,0.0,5.0,0.0,39.0,Jetblue Airways Corporation,New York,NY,Orlando,FL,Y
844705,2018-02-16,B6,1070,FLL,BOS,21:00:00,20:52:00,-8.0,NaT,23:47:00,-13.0,0.0,NaN,1237.0,NaN,NaN,NaN,NaN,NaN,Jetblue Airways Corporation,Fort Lauderdale,FL,Boston,MA,N
866547,2018-02-17,B6,499,LGA,MCO,21:10:00,NaT,NaN,NaT,NaT,NaN,1.0,B,950.0,NaN,NaN,NaN,NaN,NaN,Jetblue Airways Corporation,New York,NY,Orlando,FL,Y

In [70]:
#convert NaT values in Planned_arrival_time to midnight
flights['Planned_arrival_time'] = flights['Planned_arrival_time'].fillna(pd.Timedelta(seconds=0))

In [197]:
#convert NaT values for Actual_depart_time for non-cancelled flights to midnight
flights.loc[(flights['Actual_depart_time'].isna()) & (flights['Cancelled'] == 0), 'Actual_depart_time'] = pd.to_datetime('00:00').time()

In [202]:
#remove all rows where there is a value for actual_depart_time when the flight was cancelled
flights = flights.drop(flights[flights['Actual_depart_time'].notna() & (flights['Cancelled'] == 1)].index)

In [203]:
flights.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 7209182 entries, 0 to 7213445
Data columns (total 25 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Date                  7209182 non-null  object
 1   Airline               7209182 non-null  object
 2   Flight_number         7209182 non-null  int64
 3   Origin                7209182 non-null  object
 4   Dest                  7209182 non-null  object
 5   Planned_depart_time   7209182 non-null  object
 6   Actual_depart_time    7096862 non-null  object
 7   Dep_delay             7092121 non-null  float64
 8   Planned_arrival_time  7209182 non-null  object
 9   Actual_arrival_time   7090737 non-null  object
 10  Arrival_delay         7076406 non-null  float64
 11  Cancelled             7209182 non-null  float64
 12  Cancellation_code     112320 non-null   object
 13  Distance              7209182 non-null  float64
 14  Carrier_delay         1352710 non-null  float64
 15  Weather_delay         1352710 non-null  float64
 16  Nas_delay             1352710 non-null  float64
 17  Security_delay        1352710 non-null  float64
 18  Late_aircraft_delay   1352710 non-null  float64
 19  Airline_Name          7209182 non-null  object
 20  Origin_Name           7209182 non-null  object
 21  Origin_State          7209182 non-null  object
 22  Dest_Name             7209182 non-null  object
 23  Dest_State            7209182 non-null  object
 24  Delayed_or_Cancelled  7209182 non-null  object
dtypes: float64(9), int64(1), object(15)
memory usage: 1.4+ GB

In [ ]:
#check why Dep_delay does not match Actual_depart_time
#Check why Actual_depart_time and Actual_arrival_time do not match
#check why Arrival_delay and Actual_arrival_time do not match

In [204]:
# Save data set:
flights.to_csv(r'C:/Users/steve/Documents/springboard/Capstone2/data/clean_2018.csv', index=False)